<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684582120182-d9se664isbq8jtehj8a73poj6iro1pgs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684582120182-d9se664isbq8jtehj8a73poj6iro1pgs</string>
	<key>API_KEY</key>
	<string>AIzaSyA_Np9r0wlY5JroogYhfRPx6UDhRVIpAQE</string>
	<key>GCM_SENDER_ID</key>
	<string>684582120182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nafi.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-dff56</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-dff56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684582120182:ios:89eec1f59e04f678785ad7</string>
</dict>
</plist>